.view-thread-container {
    height: 100vh;
    overflow-y: scroll;
}

.pre-loading-threads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    align-items: center;
}

.pre-loading-threads > p {
    font-size: 30px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 70px;
    height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}