
main {
    height: 54.3rem;
    display: flex;   
    justify-content: center;
}

.profile-container {
    border-radius: 20px;
    width: 40rem;
    margin-top: 160px;
    background-color: white;
    height: 500px;
    position: relative;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,.2);
}

.image-container {
    position: absolute;
    top: 2%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,.2);
    z-index: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 200px;
}

.image-container > p {
    font-size: 70px;
}

.edit-image-overlay {
    cursor: pointer;
    color: white;
    visibility: hidden;
    position: absolute;
    top: 2%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 75%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,.2);
    z-index: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container > p {
    background-color: aquamarine;
    text-align: center;
}

.profile-header {
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.profile-header-left {
    display: flex;
    gap: 30%;
    padding: 0px;
    margin-left: 60px;
}

.profile-header-right {
    display: flex;
    gap: 30%;
    padding: 0px;
    margin-right: 60px;
}

.profile-stat {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile-stat > span > b  {
    font-size: 24px;
}

ul > li {
    list-style: none;
}

.profile-details {
    margin-top: 70px;
    position: relative;
}

.edit-profile-btn {
    background-color: skyblue;
    color: white;
    position: absolute;
    padding: 10px 10px;
    right: 10px;
    top: -55px;
    border-radius: 15px;
    border: none;
}

.edit-profile-btn:hover{
    cursor: pointer;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.names-container {
    display: flex;
    justify-content: space-evenly;
}

.input-field {
    position: relative;
}

.email-field {
    position: absolute;   
}

.input-field > span{
    position: absolute;
    top: -20px;
    font-size: 12px;
    width: 70px;
}

.input-field > input, textarea, p{
    padding: 10px;
    border-radius: 10px;
}

.input-field > p{
    margin-top: -2px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

textarea {
    width: 450px;
    height: 80px;
}

.email-container, .description-container, .date-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.save-profile-btn {
    background-color: skyblue;
    color: white;
    position: absolute;
    bottom: -60px;
    right: 80px;
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
}

.save-profile-btn:hover {
    cursor: pointer;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}
/* MODAL STUFF */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    border-radius: 12px;
    position: relative;
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 370px;
    z-index: 2000;
  }

.avatar-edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.close-logo {
    width: 30px;
    position: absolute;
    right: 0;
    margin-right: 17px;
    cursor: pointer;
}






@media (max-width: 950px) {
    .profile-container {
        margin-top: 250px ;
    }

    .image-container {
        top: -30%;
    }

    .profile-header-left {
        gap: 20%;
    }
  }





