nav {
    display: flex;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 70px;
}

.nav-title {
    font-size: 2rem;
    padding: 0px 0px 0px 30px;
    margin: 0;
}

.nav-links {
    display: flex;
}

.nav-links > li {
    cursor: pointer;
    font-size: 1.1rem;
    list-style: none;
    margin-right: 40px;
}

.menu-dropdown-parent {
    position: relative;
}

.menu-dropdown {
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    top: 100%;
    right: -10%;
    width: 17rem;
    position: absolute;
    height: 14rem;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 20px 0px 20px 20px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.menu-dropdown > span {
    font-size: 1.15rem;
}


.menu-profile-container {
    padding: 13px 0px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    display: flex;
    border-bottom: solid 1px black;
    cursor: auto;
}

.menu-profile-container > img {
    border: 1px solid black;
    border-radius: 20px;
}

.name-email-profile-container {
    cursor: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logout {
    padding: 12px;
    border-top: 1px solid black;
}

.link-item {
    color: initial;
    text-decoration: none !important;
}

/* all the links will prob be changed to 'Link' */
.menu-dropdown > span:hover {
    color: blue;
}

.link-item:hover {
    color: blue;
}

.navbar-profile-pic {
    width: 40px;
}

.nav-logo{
    cursor: pointer;
    width: 250px;
}

.nav-name-initials {
    border-radius: 50%;
    background-color: pink;
    padding: 7px;
    font-size: 20px;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,.2);
}